<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>

    <link rel="stylesheet" href="../assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="../assets/css/styles.css">

    <meta name="viewport" content="width=device-width initial-scale=1">

</head>
<body class="min-vh-100 min-vw-100 d-flex justify-content-center align-items-center" style="background: #4d5154">

<main class="w-75 h-75 rounded round-5 shadow-lg" style="background: url(../assets/image/front.png);
 background-position: top; background-size: cover;" id="home">

    <header class="position-absolute w-75 d-flex justify-content-end me-5">
        <nav class="navbar navbar-expand-lg bg-transparent">

            <div class="d-flex justify-content-end">

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                   <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse d-flex" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto me-3 mb-2 mb-lg-0 fs-5">
                        <li class="nav-item">
                            <a class="nav-link active text-primary" aria-current="page" href="#">Home</a>
                        </li>
                        <li class="nav-item" id="btnCars">
                            <a class="nav-link" href="car_page.html">Cars</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="about.html">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="contact.html">Contact</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>



    <section>
        <a href="login_form.html" class="btn btn-primary position-absolute rounded rounded-5" style="bottom: 30%; left: 20%;
        width: 8%">Login</a>
        <a href="customer_register.html" class="btn btn-outline-primary position-absolute rounded rounded-5" style="bottom: 30%; left: 29%; width: 8%">
            Sign Up
        </a>
    </section>
</main>

<!-- JavaScript For Bootstrap -->

<script src="../assets/js/bootstrap.min.js"></script>
<script src="../assets/js/jquery-3.6.1.min.js"></script>

<!--Utils-->

<script src="../util/LoadImagesUtil.js"></script>
<script src="../util/BaseUrl.js"></script>

<!--controller for page-->

<script src="../controller/IndexPageController.js"></script>
</body>
</html>