<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>

    <link rel="stylesheet" href="../assets/css/bootstrap-grid.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <link rel="stylesheet" href="../assets/css/styles.css">

    <meta name="viewport" content="width=device-width initial-scale=1">

</head>
<body class="d-flex justify-content-center align-items-center bg-dark">

    <main class="d-flex justify-content-end align-items-center shadow-lg rounded rounded-5 bg-dark" style="background:url(../assets/images/Login.png); background-size: cover; background-position: center; background-repeat: no-repeat; width: 60vw; height: 80vh">

    </main>
</body>
</html>